body {
    background-color: black;
    margin: 0;
}

#canvas {
    width: 100vw;
    height: 100vh;
    background-color: gray;
    position: relative;
    overflow: hidden;
}

#player {
    position: absolute;
    background-color: blue;
}

.enemy {
    position: absolute;
    background-color: red;
}

.spell {
    position: absolute;
    background-color: yellow;
}